.kv-avatar {
  display: inline-block;
  
  .file-input {
    display: table-cell;
    width: 213px;
  }

  .krajee-default.file-preview-frame, .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
  }
}

.kv-reqd {
  color: red;
  font-family: monospace;
  font-weight: normal;
}

.avatar-action {
  text-align: center;
}

.modalCaptureImage {
  .modal-body {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .avatar-canvas {
      width: 480px;
      height: 640px;
    }
    .btn-capture {
      width: 100px;
      margin-top: 10px;
    }
  }
}

.img-capture {
  width: 100%;
}

.kv-file-content {
  height: auto !important;
}



// .kv-avatar .krajee-default.file-preview-frame, .kv-avatar .krajee-default.file-preview-frame:hover {
//     margin: 0;
//     padding: 0;
//     border: none;
//     box-shadow: none;
//     text-align: center;
// }
// .kv-avatar .file-input {
//     display: table-cell;
//     width: 213px;
// }
// .kv-reqd {
//     color: red;
//     font-family: monospace;
//     font-weight: normal;
// }

// .avatar-action {
//     text-align: center;
// }